In [1]:
import pandas as pd
import glob
import os
import tqdm
import gc
import matplotlib.pyplot as plt
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import seaborn as sns
import numpy as np
from scipy.spatial import Voronoi, voronoi_plot_2d
import math
from sklearn import datasets, linear_model, model_selection
from sklearn.metrics import mean_squared_error, r2_score, confusion_matrix
from tqdm import tqdm
##Для отображения плотов на лету
%matplotlib inline

In [2]:
f='C:/Users/Арсений/python/MISIS_python/Season 2/athletes_sochi.txt'
dfs = pd.read_csv(f).dropna()
dfs

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country
0,17,1996-04-12,Male,1.72,Aaron Blunck,68.0,0,0,0,0,Freestyle Skiing,United States
1,27,1986-05-14,Male,1.85,Aaron March,85.0,0,0,0,0,Snowboard,Italy
2,21,1992-06-30,Male,1.78,Abzal Azhgaliyev,68.0,0,0,0,0,Short Track,Kazakhstan
4,21,1992-07-30,Male,1.86,Adam Barwood,82.0,0,0,0,0,Alpine Skiing,New Zealand
5,21,1992-12-18,Male,1.75,Adam Cieslar,57.0,0,0,0,0,Nordic Combined,Poland
...,...,...,...,...,...,...,...,...,...,...,...,...
2851,28,1985-04-30,Male,1.93,Ziga Pavlin,98.0,0,0,0,0,Ice Hockey,Slovenia
2853,31,1982-12-05,Female,1.70,Zina Kocher,60.0,0,0,0,0,Biathlon,Canada
2854,28,1985-06-14,Female,1.68,Zoe Gillings,65.0,0,0,0,0,Snowboard,Great Britain
2856,22,1991-03-01,Male,1.76,Zongyang Jia,68.0,0,0,1,1,Freestyle Skiing,China
2857,19,1995-02-06,Female,1.58,Zsofia Konya,54.0,0,0,0,0,Short Track,Hungary

In [3]:
dfs["BMI"] = dfs["weight"] / (dfs["height"]**2)
dfs["Breitman"] = dfs["height"]*70-50
dfs["Noorden"] = dfs["height"]*0.42
dfs["Tatonya"] = dfs["height"]*100-(100+(dfs["height"]-100)/20)

In [4]:
alldata = dfs[ ['weight', 'height', 'BMI', 'Breitman', 'Noorden', 'Tatonya', 'age', 'gender'] ]
alldata

      weight  height        BMI  Breitman  Noorden  Tatonya  age  gender
0       68.0    1.72  22.985398      70.4   0.7224  76.9140   17    Male
1       85.0    1.85  24.835646      79.5   0.7770  89.9075   27    Male
2       68.0    1.78  21.461937      74.6   0.7476  82.9110   21    Male
4       82.0    1.86  23.702162      80.2   0.7812  90.9070   21    Male
5       57.0    1.75  18.612245      72.5   0.7350  79.9125   21    Male
...      ...     ...        ...       ...      ...      ...  ...     ...
2851    98.0    1.93  26.309431      85.1   0.8106  97.9035   28    Male
2853    60.0    1.70  20.761246      69.0   0.7140  74.9150   31  Female
2854    65.0    1.68  23.030045      67.6   0.7056  72.9160   28  Female
2856    68.0    1.76  21.952479      73.2   0.7392  80.9120   22    Male
2857    54.0    1.58  21.631149      60.6   0.6636  62.9210   19  Female

[2479 rows x 8 columns]

In [20]:
def resOutput(data, dInput, dOutput):
    allinput = data[ dInput ]
    alloutput = data[dOutput]
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(allinput, alloutput, test_size=0.2)
    model = linear_model.LogisticRegression()
    model.fit(X_train, Y_train)
    Y_test_predicted = model.predict(X_test)
    [tn, fp], [fn, tp] = confusion_matrix(Y_test, Y_test_predicted)
    print("For ", allinput.columns ," Accuracy: ", (tn + tp) / (tp + fp + tn + fn))

In [27]:
alldata=alldata.replace({'gender':{'Female':1,'Male':0}})
resOutput(alldata, ['weight', 'height', 'BMI'], ["gender"])
resOutput(alldata, ['weight', 'height', 'Breitman'], ["gender"])
resOutput(alldata, ['weight', 'height', 'Noorden'], ["gender"])
resOutput(alldata, ['weight', 'height', 'Tatonya'], ["gender"])

For  Index(['weight', 'height', 'BMI'], dtype='object')  Accuracy:  0.8931451612903226
For  Index(['weight', 'height', 'Breitman'], dtype='object')  Accuracy:  0.8669354838709677
For  Index(['weight', 'height', 'Noorden'], dtype='object')  Accuracy:  0.8508064516129032
For  Index(['weight', 'height', 'Tatonya'], dtype='object')  Accuracy:  0.8629032258064516

D:\misis\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
D:\misis\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
D:\misis\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
D:\misis\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)